//===============================================================================
//===============================================================================
// mobile
//===============================================================================
//===============================================================================
.navbar-default{
	background-color: #fff;
	border: none;
	
	.navbar-brand{
		height:auto;
	}
	
	.navbar-toggle{
		margin-right:0px;
		border:none!important;
		background:url(../img/btn_mobile_nav_trigger.png) no-repeat center;
		&:hover {background-color:#fff;}
		&:focus {background-color:#fff;}
				
		.icon-bar{
			background:none;
		}
	}
	
	.main-menu li a{
		background:url(../img/bg_mainnav.png) repeat-x top;
		.dropdown-toggle{background:url(../img/bg_mainnav.png) repeat-x top;}
		text-transform:uppercase;
	}
	.main-menu li .dropdown-menu{
		padding-top:0;
		li{
			border-bottom:1px solid #fff;
			a{
				background-image:none; 
				background-color:#888; 
				color:#fff;
				padding-top:10px;
				padding-bottom:10px;
			}
		}
	}
	.navbar-nav .open .dropdown-menu li a{
		color:#fff;
	}
}

//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {
	.navbar-fixed-top {
        position: relative;
        top: auto;
    }
	
	.navbar-default{max-width:992px !important; margin:0 auto;}
	
	.sector-menu{
		position: absolute;
    	right: 0;
    	top: 0;
		font-family:'Roboto Condensed';
		font-weight:bold;
		background:url(../img/bg_sector_menu.png) no-repeat left;
		width:300px;
		height:45px;
		
		.navbar-right{padding-right:50px;}
		
		.navbar-right li a{
			color:#fff!important;
			padding-top:8px;
			padding-bottom:17px;
		}
		.navbar-right li.active a{
			background-color:transparent!important;
		}
	}
	
	.main-menu{
		background:url(../img/bg_mainnav.png) repeat-x;
		.navbar-nav{
			width:100%;
			font-family:'Roboto Condensed';
			font-size:15px;
			li{
				width:20%;
				a{
					color:#212121; 
					width:100%; 
					text-align:center; 
					border-right:1px solid #AAAAAA;
					text-transform:uppercase;
					padding:15px 0;
				}
			}
			li:last-child a{
				border:none;
			} 
		}
		
		.dropdown-menu{
			min-width:158px;
			border:1px solid #fff;
			background:#888;
			padding:0!important;
			li{
				width:100%;
				a{
					width:195px;
					font-size:15px;
					color:#fff!important;
					padding:15px 0;
					border-right:0;
					
					&:hover{color:#212121!important; background-color:#fff!important;}
				}			
			}
		}
	}
}

//===============================================================================
//===============================================================================
// desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {
	
}

//===============================================================================
//===============================================================================
// wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {
}