//===============================================================================
//===============================================================================
// mobile
//===============================================================================
//===============================================================================
.navbar-default{
	background-color: #fff;
	border: none;
	
	.navbar-brand{
		height:auto;
	}
}

//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {
}

//===============================================================================
//===============================================================================
// desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {

}

//===============================================================================
//===============================================================================
// wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {
}