//===============================================================================
//===============================================================================
// mobile
//===============================================================================
//===============================================================================
.navbar-default{
	background-color: #fff;
	border: none;
	
	.navbar-brand{
		height:auto;
	}
	
	.navbar-toggle{
		margin-right:0px;
		border:none!important;
		background:url(../img/btn_mobile_nav_trigger.png) no-repeat center;
		&:hover {background-color:#fff;}
		&:focus {background-color:#fff;}
				
		.icon-bar{
			background:none;
		}
	}
	
	.main-menu li a{
		background:url(../img/bg_mainnav.png) repeat-x top;
		.dropdown-toggle{background:url(../img/bg_mainnav.png) repeat-x top;}
		font-family:"Roboto Condensed";
		color:#212121;
		padding-left:40px;
		text-transform:uppercase;
	}
	
	.main-menu .dropdown{
		.dropdown-toggle{
			.caret{
				float:right;
				color:#fff;
				margin-top:8px;
			}
		}
	}
	
	.main-menu li .dropdown-menu{
		padding-top:0;
		padding-bottom:0;
		li{
			a{
				background-image:none; 
				background-color:#888; 
				color:#fff;
				padding-top:10px;
				padding-bottom:10px;
				padding-left:67px;
				border-bottom:1px solid #fff;
			}
		}
	}
	
	.navbar-nav{
		margin-top:0;
		margin-bottom:0;
	}
	
	.navbar-nav .open .dropdown-menu li a{
		color:#fff;
	}
	
	.sector-menu{display:none;}
}

//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {
	.nav{
		.open{
			a{
				border-color:#AAA!important;
				&:hover{
					border-color:#AAA!important;
				}
				&:focus{
					border-color:#AAA!important;
				}
			}
		}
	}
	
	.navbar-default{margin:0 auto;}
	
	.sector-menu{
		diplay:block;
		position: absolute;
    	right: 0;
    	top: 0;
		font-family:'Roboto Condensed';
		font-weight:bold;
		background:url(../img/bg_sector_menu.png) no-repeat left;
		width:300px;
		height:45px;
		
		.navbar-right{padding-right:50px;}
		
		.navbar-right li a{
			color:#fff!important;
			padding-top:8px;
			padding-bottom:17px;
		}
		.navbar-right li.active a{
			background-color:transparent!important;
		}
	}
	
	.main-menu{
		background:url(../img/bg_mainnav.png) repeat-x;
		.navbar-nav{
			width:100%;
			font-family:'Roboto Condensed';
			font-size:15px;
			li{
				width:20%;
				a{
					color:#212121; 
					width:100%; 
					text-align:center; 
					border-right:1px solid #AAAAAA;
					text-transform:uppercase;
					padding:15px 0;
				}
				&:hover a{
					background:url(../img/bg_mainnav_active.png) repeat-x;
					color:#fff;
					.caret{
						color:#fff!important;
					}
				}
			}
			li.active a{
				background:url(../img/bg_mainnav_active.png) repeat-x;
				color:#fff;
				.caret{
					color:#fff!important;
				}
				&:hover{
					color:#fff!important;
				}
			}
			li:last-child a{
				border:none;
			} 
		}
		
		.dropdown{
			.dropdown-toggle{
				padding:15px 0;
				.caret{
					display:block;
					position:absolute;
					bottom:6px;
					left:48%;
					color:#212121!important;
				}
			}
		}
		
		.open{
			.dropdown-toggle{
				color:#fff!important;
				background:url(../img/bg_mainnav_active.png) repeat-x;
				.caret{
					color:#fff!important;
				}
			}
		}
		
		.dropdown-menu{
			min-width:158px;
			border:1px solid #fff;
			background:#888;
			padding:0!important;
			li{
				width:100%;
				a{
					width:195px;
					font-size:15px;
					color:#fff!important;
					padding:10px 0!important;
					border-right:0;
					
					&:hover{color:#212121!important; background-color:#fff!important;}
				}
			}
			li:last-child a{
				border:none;
			} 
		}
	}
}

//===============================================================================
//===============================================================================
// desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {
	.navbar-nav{
		float:none;
		margin:0 auto;
		max-width:992px;
	}
}

//===============================================================================
//===============================================================================
// wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {
}