//===============================================================================
//===============================================================================
// mobile
//===============================================================================
//===============================================================================

.main {
	float: none;
	margin-top: 110px;
}

.videoTitle{display:none;}

//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {
	.main{
		margin-top:0;	
	}
	//Video listing starts
	
	.videoTitle{
		display:block; 
		width:100%;
		text-align:center;
		color:#000;
		background-color:#ffbf00;
		padding:5px 0;
		font-family:'Roboto Condensed';
	}
	
	.video-col-sm-padding-bottom{padding-bottom:35px;}
	
	//Video listing ends
}

//===============================================================================
//===============================================================================
// desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {
}

//===============================================================================
//===============================================================================
// wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {
}