//===============================================================================
//===============================================================================
// mobile
//===============================================================================
//===============================================================================

.main {
	float: none;
	margin-top: 109px;
	padding:0;
	
	.nopaddingHeader-xs{padding-left:0; padding-right:0;}
}

.page-header{
	background:url(../img/bg_mainnav.png) repeat-x;
	margin:0;
	padding:0;
	//text-transform:uppercase;
	h1, .h1{
		font-size:15px!important;
		margin:0;
		padding:10px 30px;
		font-family:'Roboto Condensed';
	}
}

.paginationContainer{
	display:inline-block;
	border:1px solid #DDDDDD;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom:30px;
	a, span{
		border-right:1px solid #DDDDDD;
		padding:10px;
		display:block;
		float:left;
		color:#999;
	}
	a{
		&:hover{
			background-color:#777;
			color:#fff;
			text-decoration:none;
		}
	}
	span{
		background-color:#777;
		color:#fff;
	}
	span:last-child, a:last-child{
		border-right:0;
		border-top-right-radius:5px;
		border-bottom-right-radius:5px;
		-moz-border-top-right-radius:5px;
		-moz-border-bottom-right-radius:5px;
	}
	span:first-child, a:first-child{
		border-top-left-radius:5px;
		border-bottom-left-radius:5px;
		-moz-border-top-left-radius:5px;
		-moz-border-bottom-left-radius:5px;
	}
	
}

//Videos and image listing page starts
.videoTitle{
	display:block; 
	width:100%;
	text-align:center;
	color:#000;
	//background-color:#ffbf00;
	padding:5px 0;
	font-family:'Roboto Condensed';
	text-transform:uppercase;
	a{
		color:#000;
	}
}

.page-template-template-video-listing-text-php{
	.date, .title, .person{
		font-size:18px;	
		font-family:'Roboto';
		font-weight:bold;
	}
	.title{margin-bottom:3px;}
	.btnVideoDetail{
		font-family:'Roboto';
		color:#000;
		font-weight:bold;
		padding:3px 20px;
		background-color:#FFC926;
		-moz-border-radius: 3px;
		border-radius: 3px;
		margin-bottom:15px;
		display:inline-block;
	}
}

.page-template-template-listing-img-php, .page-template-template-video-listing-image-php, .page-template-template-video-listing-text-php{
	.page-header{display:none;}
}

.page-template-template-listing-php{
		.main{
			margin-top:63px;
		}
	}
	
.btnReadMore{
	font-family:'Roboto Condensed';
	background-color:#FFC926;
	color:#000;
	font-weight:bold;
	padding:3px 10px;
	display:block;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display:inline-block;
	margin-bottom:45px;
}

.fullwidthImg{width:100%; height:auto;}

.listingImageItem{
	margin-bottom:40px;
	.imgArchievesLink{
		margin-bottom:10px;
		display:block;
	}
	.videoLink{
		margin-bottom:10px;
		display:block;
	}
	.doctor{
		margin-bottom:10px;
		font-size:15px;
	}
	.desp{
		color:#777;
		font-size:14px; 
	}
	.btnReadMore{
		float:right
	}
}

.mobileMediaNav{	
	margin-bottom:10px;
	background-color:#2db300;
	color:#fff;
	margin-right:40px;
	font-family:'Roboto Condensed';
	font-weight:bold;
	text-transform:uppercase;
	border-radius: 4px;
	
	.mobileMediaToggle{
		-moz-border-radius: 4px;
		padding-left:15px;
		cursor: pointer;
		
		.currentPageName{
			padding:5px 0;
			float:left;
			display:block;
		}
		.dropdownArrow{
			float:right;
			display:block;
			width:30px;
			height:30px;
			border-left:1px solid #777;
			.caret{
				margin:14px auto 0 auto;
				display:block;
			}
		}
	}
	
	.mobileMediaList{
		display:none;
		padding:5px 15px 5px 15px;
		border-top:1px solid #fff;
		a{
			color:#fff;
			display:block;
		}
	}
}
.mobileMediaNav.open{
	.mobileMediaList{
		display:block;
	}
}

.mobileMediaSubNav{	
	margin-bottom:10px;
	background-color:#ffc926;
	color:#fff;
	margin-right:40px;
	font-family:'Roboto Condensed';
	font-weight:bold;
	text-transform:uppercase;
	border-radius: 4px;
	
	.mobileMediaSubToggle{
		-moz-border-radius: 4px;
		padding-left:15px;
		cursor: pointer;
		
		.currentPageName{
			padding:5px 0;
			float:left;
			display:block;
		}
		.dropdownArrow{
			float:right;
			display:block;
			width:30px;
			height:30px;
			border-left:1px solid #777;
			.caret{
				margin:14px auto 0 auto;
				display:block;
			}
		}
	}
	
	.mobileMediaSubList{
		display:none;
		padding:5px 15px 5px 15px;
		border-top:1px solid #fff;
		a{
			color:#fff;
			display:block;
		}
	}
}
.mobileMediaSubNav.open{
	.mobileMediaSubList{
		display:block;
	}
}

.lightboxVideoContainer{
	margin:0 auto;
	text-align:center;
	height:70%;
	.fullImgWidth{
		width:95%;
		height:auto;
	}
}

.lightboxContentContainer{
	max-width:640px; 
	height:30%;
	overflow:auto; 
	margin-top:15px;
}

.lightboxImgContainer{
	margin:0 auto;
	text-align:center;
	//height:65%;
	max-width:640px;
	.fullImgWidth{
		width:95%;
		height:auto;
	}
}

.lightboxImgContentContainer{
	max-width:640px; 
	height:25%;
	overflow:auto; 
	margin-top:15px; 
}

.forumlightboxVideoContainer{
	margin:0 auto;
	text-align:center;
	height:100%!important;
	.fullImgWidth{
		width:auto;
		height:100%!important;
	}
}

.videoThumbContainer{
	position:relative;
	.btnVideoPlay{
		position:absolute;
		margin: auto;
		display:block;
		background:url(../img/logo_video.png) no-repeat;
		width:78px;
		height:55px;
		top:0;
		left:0;
		bottom:0;
		right:0;
	}
}

.imageFilterContainer{
	text-align:right;
	margin:15px 0;
	a{
		font-family:'Roboto Condensed';
		font-weight:bold;
		padding:3px 10px;
		display:block;
		-moz-border-radius: 3px;
		border-radius: 3px;
		display:inline-block;
		background-color:#ddd;
		color:#777;
	}
	.btnOriginalImage{
		margin-right:10px;
		&:hover, &.active{
			background-color:#FFA64D;
			color:#fff;			
			
		}
	}
	.btnNBI{
		&:hover, &.active{
			background-color:#A3D900;
			color:#3B6A8C;
		}
	}
}
.lightBoxImg{
	text-align:center;
	position:relative;
	//height:250px;
	overflow:hidden;
	
	.originalImgContainer{
		position:relative;
		z-index:999;
		visibility:hidden;
		margin: 0 auto;
		width:auto;
		height:100% !important;
		text-align:center;
		img{
			width:auto !important;
			height:100% !important;
			margin:0 auto;
		}
	}
	
	.nbiImgContainer{
		position:absolute;
		visibility:hidden;
		margin: 0 auto;
		width:auto;
		height:100% !important;
		text-align:center;
		img{
			width:auto !important;
			height:100% !important;
			margin:0 auto;
		}
	}
}
//Videos and image listing page ends

//Activities starts
.page-template-template-activities-php{
	h2, .h2{
		font-size:20px;
		font-family:'Roboto';
		font-weight:bold;
	}
	dt{
		color:#535353;
		font-size:18px;
		font-weight:normal;
		padding-bottom:10px;
	}
	dd{
		font-size:18px;
	}
}
//Activities ends

//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {
	.main{
		margin-top:160px;	
		.nopaddingHeader-xs{padding-left:15px; padding-right:15px;}
	}
	//Videos and Images listing starts		
	.page-header{
		background-image:none;
		margin:0;
		padding:0;
		//text-transform:uppercase;
		border-bottom:none;
		h1, .h1{
			font-size:30px!important;
			margin:15px 0 0 0;
			padding:5px 10px;
			font-family:'Roboto Condensed';
			
		}
	}
	
	.page-template-template-listing-php{
		.main{
			margin-top:159px;
		}		
		h1, .h1{
			//background-color:#4da6ff;
			//color:#fff!important;
			color:#000;
			display:inline-block;
		}
	}
	
	.video-col-sm-padding-bottom{padding-bottom:35px;}
	
	//Videos and Images listing ends
	
	.page-template-template-video-listing-text-php, .page-template-template-video-listing-image-php{
		.page-header{display:none}
		
		.video-menu{
			a{
				background-color:#DDD;
				&:hover{
					//background-color:#4DA6FF;
					background-color:#000;
					text-decoration:none;
				}
			}
			.active{
				//background-color:#4DA6FF;
				background:none;
				font-size:30px;
				line-height:112%;
				color:#000;
				&:hover{
					color:#fff;
				}
			}
		}
	}
	
	.page-template-template-listing-img-php{
		.page-header{display:none}
		
		.image-menu{
			a{
				background-color:#DDD;
				&:hover{
					//background-color:#2DB300;
					background-color:#000;
					text-decoration:none;
				}
			}
			.active{
				//background-color:#2DB300;
				background:none;
				font-size:30px;
				line-height:112%;
				color:#000;
				&:hover{
					color:#fff;
				}
			}
		}
	} 
	
	.video-menu, .image-menu{
		margin-top:15px;
		margin-bottom:10px;
		a{
			font-family:'Roboto Condensed';
			color:#fff;
			padding:11px 15px;
			float:left;
			display:block; 
			margin-right:7px;
			text-transform:uppercase;
		}	
		.active{
				font-size:170%;
				padding:4px 8px;
			}
		span{
			background:url(../img/arrow_nav_right.png) no-repeat right;
			width:15px;
			height:42px;
			float:left;
			display:block;
		}
	}
	
	.video-submenu, .image-submenu{
		margin-bottom:15px;
		a{
			font-family:'Roboto Condensed';
			color:#777;
			font-weight:bold;
			padding:3px 10px;
			background-color:#DDD;
			display:block;
			float:left;
			margin-right:7px;
			-moz-border-radius: 4px;
			border-radius: 3px;
			&:hover{
				//background-color:#FFC926;
				//color:#000;
				background-color:#000;
				color:#fff;
				text-decoration:none;
			}
		}
		.active{
			//background-color:#FFC926;
			//color:#000;
			background-color:#000;
			color:#fff;
		}
	}
	
	.lightboxVideoContainer{
		height:80%;
	}
	
	.lightboxContentContainer{
		height:20%;
	}
	
	.lightboxImgContentContainer{
		height:20%;
	}
	
	.lightBoxImg{
		//max-height:450px;
	}
	
	.single-forum{
		h1, .h1{
			//background-color:#605CA9;
			color:#000!important;
			display:inline-block;
			margin-bottom:20px;
		}
	}
	
	//Activities starts
	.page-template-template-activities-php{
		.dl-horizontal{
			margin-bottom:0px;
			dt{
				width:100px;
				text-align:left;
			}
			dd{
				margin-left:120px;
			}
		}
		.activitiesItem{
			margin-bottom:30px;
		}
	}
	//Activities ends
	
}

//===============================================================================
//===============================================================================
// desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {
}

//===============================================================================
//===============================================================================
// wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {
}